.wrap {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  flex-grow: 1;
  padding: 10px 30px;
  box-shadow: var(--shadow);

}


.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > li {

  }
}
