@import "~styles/settings";

.wrap {
  height: $HEADER_HEIGHT;
  background-color: var(--primary);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow);
}
