@import "~styles/settings";

.wrap {
  min-height: 100vh;
  max-width: $APP_MAX_WIDTH;
  margin: 0 auto;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
}

.appCenterWrap {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
