.wrap {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  flex-grow: 0;
  background-color: #888;

  @media (max-width: 768px) {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1000;
  }
}

.enter {
  margin-left: -300px;
}

.enterActive {
  margin-left: 0;
  transition: margin-left 300ms;
}

.exit {
  margin-left: 0;
}

.exitActive {
  margin-left: -300px;
  transition: margin-left 300ms;
}
