.wrap {
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #bbb;
  display: flex;
  flex-direction: column;
}

.appCenterWrap {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
